{% include 'header.html' %}

{% for empleado in empleados %}
<form method="POST" action="/update" enctype="multipart/form-data">

    ID:<input type="text"  value="{{empleado[0]}}" name="txtID" id="txtID">
    
    <BR>
    NOMBRE:
    <input type="text" value="{{empleado[1]}}" name="txtNombre" id="txtNombre">
    <br>

    Correo:
    <input type="text" value="{{empleado[2]}}" name="txtCorreo" id="txtCorreo">
    <br>

  

    <img class="img-thumbnail" width="100px" src="{{url_for('uploads', nombreFoto=empleado[3])}}" alt="">


    Foto:
    <input type="file" name="txtFoto" id="txtFoto">
    <br>

    <input type="submit" value="Editar">

</form>



  {{ empleado[0] }}
    {{ empleado[1] }}
    {{ empleado[2] }}
    {{ empleado[3] }}
{% endfor %}


{% include 'footer.html' %}